@using LMusic.Models;
@using LMusic.ViewModels.User;
@model UserProfileViewModel;
@{
    ViewData["Title"] = "Профиль";
}

@*<div>
    <h1>Имя: @Model.UserName</h1>
    <h2>Фотка путь: @Model.PhotoPath</h2>
    <img src="@Model.PhotoPath" alt="Alternate Text" />
    <h3>Свободное место: @Model.FreeSpace</h3>
    <p></p>
    <p></p>
    <p></p>
</div>

<div>
    <h2>Плейлисты</h2>
    @foreach (var playlist in Model.Playlists)
    {
        <p>Id: @playlist.Id</p>
        <p>Имя: @playlist.Name</p>
        <p>Путь картинки: @playlist.PhotoPath</p>
        <img src="@playlist.PhotoPath" alt="Alternate Text" />
        <p></p>
    }
</div>

<div>
    <h2>Песни</h2>
    @foreach (var music in Model.FavoriteMusic)
    {
        <p>Id: @music.Id</p>
        <p>Имя: @music.Musician</p>
        <p>Название: @music.Title</p>
        <p>Путь картинки: @music.PhotoPath</p>
        <img src="@music.PhotoPath" alt="Alternate Text" />
        <p>Путь песни: @music.MusicPath</p>
        <audio class="current-audio" src="@music.MusicPath" controls="" controlslist="nodownload noplaybackrate"></audio>
        <p></p>
    }
</div>*@






<div class="content-wrapper">
    <div class="block-profile">
        <div class="background"></div>
        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-settings">
                <form class="form-settings form-settings-user-change" asp-action="UpdateUser" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="main-info-change">
                        <div class="image-profile-change">
                            <label for="image">Изменить фото профиля</label>
                            <input class="file-image" type="file" name="pictureFile" id="image" name="playlistPicture" accept=".jpg, .jpeg, .png" value="@Model.PhotoPath" />
                        </div>
                        <div class="nickname-profile-change">
                            <label for="nickname">Изменить никнейм:</label>
                            <input class="current-nickname-profile" type="text" name="nickname" id="nickname" value="@Model.UserName"/>
                        </div>
                    </div>
                    <div class="settings-privacy">
                        <div class="settings settings-friend">
                            <label for="friends">Доступ к странице:</label>
                            <select class="select select-friends" id="friends" name="privacy">
                                <option value="2">Только для меня</option>
                                <option value="1">Только для друзей</option>
                                <option value="0">Для всех</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="button button-settings">Сохранить</button>
                </form>
            </div>
        }

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-form-add-playlist">
                <span>Добавить плейлист</span>
                <form class="form-add-playlist" asp-action="Add" asp-controller="Playlist" method="post" enctype="multipart/form-data">
                    <div class="block-input-name">
                        <input class="input-name-playlist" type="text" name="title" placeholder="Название" />
                    </div>
                    <div class="file-item">
                        <label for="playlistPicture">Выберите фото плейлиста</label>
                        <input type="file" id="playlistPicture" name="playlistPicture" value="" accept=".jpg, .jpeg, .png" />
                    </div>
                    <div class="settings settings-playlist">
                        <label for="playlist">Друзья:</label>
                        <select class="select select-friends" id="playlist" name="privacy">
                            <option value="2">Только для меня</option>
                            <option value="1">Только для друзей</option>
                            <option value="0">Для всех</option>
                        </select>
                    </div>
                    <button class="button button-add-new-playlist">Добавить</button>
                </form>
            </div>
        }

        <div class="block-open-playlist">
            <div class="block-top-playlist">
                <div class="block-left-top-playlist">
                    <img class="avatar-playlist" src="~/img/playlist-avatar.jpg" />
                    <span class="title-open-playlist"></span>
                </div>
            </div>

            <div class="playlist-music">
                
            </div>
        </div>

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-form-add-music">
                <span>Добавить музыку</span>
                <div class="error-valid-music">Заполните все обязательные<br>поля</div>
                <form class="form-add-music" asp-action="AddMusic" asp-controller="User" method="post" enctype="multipart/form-data">
                    <div class="block-input-name">
                        <input class="input-name-music" type="text" placeholder="Название*" name="title" />
                        <input class="input-songs-music" type="text" placeholder="Исполнитель*" name="musician" />
                    </div>
                    <div class="block-file-music">
                        <div class="file-item">
                            <label for="musicPicture">Выберите фото трека</label>
                            <input type="file" name="musicPicture" value="" accept=".jpg, .jpeg, .png"/>
                        </div>
                        <div class="file-item">
                            <label for="audioFile">Выберите файл трека*</label>
                            <input class="fileMusicAdd" type="file" name="audioFile" value="" accept=".mp3, .wav" />
                        </div>
                    </div>
                    <button type="submit" class="button button-add-new-music">Добавить</button>
                </form>
            </div>
        }

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-form-change-music">
                <span>Редактировать песню</span>
                <form class="form-change-music" asp-action="UpdateMusic" asp-controller="Music" method="post" enctype="multipart/form-data">
                    <div class="block-input-change-name">
                        <input id="aaaaaaaid" class="aaaaaaaid" type="hidden" name="musicId" value="" />
                        <input id="aaaaatitle" class="aaaaatitle input-name-change-music" type="text" name="title" value="" />
                        <input id="aaaamusic" class="aaaamusic input-songs-change-music" type="text" name="musician" value="" />
                    </div>
                    <div class="block-file-change-music">
                        <div class="file-change-item-music">
                            <label for="file-photo">Выберите фото трека</label>
                            <input type="file" id="file-photo" name="musicPicture" value="" accept=".jpg, .jpeg, .png" />
                        </div>
                    </div>
                    <button type="submit" class="button button-change-music">Сохранить</button>
                </form>
            </div>
        }

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-form-change-playlist">
                <span>Редактировать плейлист</span>
                <form class="form-change-playlist" asp-action="Update" asp-controller="Playlist" method="post" enctype="multipart/form-data">
                    <input id="id-playlist" class="id-playlist" type="hidden" name="id" value="" />
                    <div class="block-input-name-playlist">
                        <input id="title-playlist" class="title-playlist input-name-change-playlist" type="text" placeholder="Название" name="title" value=""/>
                    </div>
                    <div class="block-file-playlist">
                        <div class="file-item-playlist">
                            <label for="file-photo-playlist">Выберите фото плейлиста</label>
                            <input type="file" name="playlistPicture" value="" accept=".jpg, .jpeg, .png" />
                        </div>
                    </div>
                    <button type="submit" class="button button-form-change-playlist">Сохранить</button>
                </form>
            </div>
        }

        <div class="block-change-my-playlist">
                
        </div>

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="block-change-music-playlist">
                <button class="button-music-delete-from-playlist">
                    <img class="icon-change-playlist" src="~/img/icon-delete.png" />
                    <span>Удалить из плейлиста</span>
                </button>
                <button class="button-music-add-in-playlist">
                    <img class="icon-change-playlist" src="~/img/icon-reduct.png" />
                    <span>Добавить в плейлист</span>
                </button>
            </div>

        }

        <div class="block-information-profile">
            <div class="block-avatar">
                <img class="avatar-image" src="@Model.PhotoPath" alt="Аватар пользователя" />
            </div>
            <div class="information-profile">
                <div class="block-nickname">
                    <span>@Model.UserName</span>
                </div>
                <hr />
                <div class="block-number-space">
                    <div class="block-telephone">
                        <span></span>
                    </div>
                    @if (Model.UserProfileAccess == UserAccess.My)
                    {
                        <div class="block-free-space show">
                            <span>Свободного места: @Model.FreeSpace ГБ</span>
                        </div>
                    }
                    @if (Model.UserProfileAccess == UserAccess.Friend)
                    {
                        <form asp-action="deleteFriend" asp-controller="Friends" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="tgId" value="@Model.TgId">
                            <button type="submit" class="button button-remove-friend">
                                <span>Удалить из друзей</span>
                            </button>
                        </form>
                    }
                    @if (Model.UserProfileAccess == UserAccess.User)
                    {
                        <form class="add-from-friends-my" asp-action="sendFriendRequest" asp-controller="Friends" method="post" enctype="multipart/form-data">
                            
                        </form> 
                    }
                </div>
            </div>
            @if (Model.UserProfileAccess == UserAccess.My)
            {
                <img class="settings-profile" src="~/img/icon-settings-profile.png" />
            }

            @if(Model.UserProfileAccess == UserAccess.My)
            {
                <form asp-action="Logout" asp-controller="Auth" method="get" enctype="multipart/form-data">
                    <button type="submit">Выход</button>
                </form>
            }
        </div>

        <div class="block-music block-music-user">
            <div class="user-playlist">
                <div class="block-your-music">
                    <span class="your-music-header">Плейлисты</span>
                </div>
                <div class="block-playlist">
                    @foreach (var playlist in Model.Playlists)
                    {
                        if(!playlist.IsDefault)
                        {
                            <button class="playlist">
                                <img class="playlist-avatar" src="@playlist.PhotoPath" alt="Обложка плейлиста" />
                                <span class="info-my-playlist">
                                    <span class="tiiiitle-playlist">@playlist.Name</span>
                                    <span class="iiiid-playlist" style="visibility:hidden;">@playlist.Id</span>
                                    @if (Model.UserProfileAccess == UserAccess.My)
                                    {
                                        @if(playlist.CanEdit)
                                        {
                                            <span class="button-for-my-playlist">
                                                <input type="hidden" class="playlist-my-id" value="@playlist.Id" />
                                                <input type="hidden" class="playlist-my-title" value="@playlist.Name" />
                                                <img class="image-for-my-playlist" src="~/img/icon-three-tochki.png" width="20px" height="20px">
                                            </span>
                                        } else
                                        {
                                            <span class="button-for-other-playlist">
                                                <input type="hidden" class="playlist-my-id" value="@playlist.Id" />
                                                <img class="image-for-other-playlist" src="~/img/icon-three-tochki.png" width="20px" height="20px"/>
                                            </span>
                                        }
                                    }
                                    @if (Model.UserProfileAccess == UserAccess.Friend || Model.UserProfileAccess == UserAccess.User)
                                    {
                                        <span class="button-for-other-playlist">
                                            <input type="hidden" class="playlist-my-id" value="@playlist.Id" />
                                            <img class="image-for-other-playlist" src="~/img/icon-three-tochki.png" width="20px" height="20px"  />
                                        </span>
                                    }
                                </span>
                            </button>
                        }
                    }
                    @if (Model.UserProfileAccess == UserAccess.My)
                    {
                        <button class="block-button-add-playlist">
                            <img class="image-add-playlist" src="~/img/icon-add-new.png" />
                        </button>
                    }
                </div>
            </div>

            <div class="user-music">
                <div class="block-your-music">
                    <span class="your-music-header">Музыка</span>
                    @if (Model.UserProfileAccess == UserAccess.My)
                    {
                        <button class="block-button-add-music">
                            <img class="image-add-music" src="~/img/icon-add-new.png" />
                        </button>
                    }
                </div>
                <div class="block-shuffle">
                    <button class="shuffle">
                        <img class="shuffle-icon" src="/img/icon-shuffle.png" />
                        Перемешать
                    </button>
                    @if (Model.UserProfileAccess == UserAccess.My)
                    {
                        <div class="block-mymusic-favorite">
                            <a class="current-filter my-music-filter" href="/user">
                                Избранное
                            </a>
                            <a class="favor-music-filter" href="/user/musicControl">
                                Загруженное
                            </a>
                        </div>
                    }
                </div>

                @foreach (var music in Model.FavoriteMusic)
                {
                    <div class="block-one-music">
                        <div class="music">
                            <div class="info-music">
                                <audio class="audio" src="@music.MusicPath"></audio>
                                <div class="play-music">
                                    <img class="avatar-music" src="@music.PhotoPath" alt="Обложка песни" />
                                </div>
                                <div class="block-name-music">
                                    <span>@music.Title</span>
                                    <span>@music.Musician</span>
                                </div>
                            </div>
                            @if (Model.UserProfileAccess == UserAccess.My)
                            {
                                @if (music.CanEdit)
                                {
                                    <button class="block-control">
                                        <span class="music-my-id" style="visibility:hidden;">@music.Id</span>
                                        <span class="music-my-title" style="visibility:hidden;">@music.Title</span>
                                        <span class="music-my-musician" style="visibility:hidden;">@music.Musician</span>
                                        <img class="music-contol" src="~/img/icon-three-tochki.png" />
                                    </button>
                                } else
                                {
                                    <button class="block-music-other-user-control">
                                        <span class="music-id" style="visibility:hidden;">@music.Id</span>
                                        <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                                    </button>
                                }

                            }
                            @if (Model.UserProfileAccess == UserAccess.Friend || Model.UserProfileAccess == UserAccess.User)
                            {
                                <button class="block-music-other-user-control">
                                    <span class="music-id" style="visibility:hidden;">@music.Id</span>
                                    <img class="music-other-user-control" src="~/img/icon-three-tochki.png" />
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="block-current-music">
        </div>

        <div class="current-playlist">
            <span class="header-current-playlist">Текущий плейлист</span>
            <button class="shuffle current-playlist-shuffle">
                <img class="shuffle-icon" src="/img/icon-shuffle.png" />
                Перемешать
            </button>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
            <div class="block-one-music">
                <div class="music">
                    <div class="info-music">
                        <audio class="audio" src="~/audio/ANNA_ASTI_-_Po_baram_74376135.mp3"></audio>
                        <button class="play-music"><img class="avatar-music" src="~/img/playlist-avatar.jpg" /></button>
                        <div class="block-name-music">
                            <span>Название (Альбом)</span>
                            <span>Исполнитель</span>
                        </div>
                    </div>
                    <button class="block-control">
                        <img class="icon-remove-iz-playlist" src="~/img/icon-remove-iz-playlist.png" />
                    </button>
                </div>
            </div>
        </div>

        @if (Model.UserProfileAccess == UserAccess.My)
        {
            <div class="popup-change-mymusic">
                <input type="hidden" id="musicidpopup" class="aaaaaaaaaaaaaaa musicidpopup" />
                <input type="hidden" class="aaaaaaaaaaaaaaa titlemusiccc" />
                <input type="hidden" class="aaaaaaaaaaaaaaa musicianmusiccc" />
                <form class="form-delete-music" asp-action="DeleteMusic" asp-controller="Music" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="musiciddelete" class="aaaaaaaaaaaaaaa musiciddelete" name="musicId" value="" />
                    <button type="submit" class="popup-button button-delete-music">
                        <img class="popup-image" src="~/img/icon-delete.png" />
                        Удалить
                    </button>
                </form>

                <form class="form-delete-music" asp-action="DeleteMusicFromUser" asp-controller="Music" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="musiciddeleteplalist" class="aaaaaaaaaaaaaaa musiciddeleteplalist" name="musicId" value="" />
                    <button type="submit" class="popup-button button-delete-music-favorite">
                        <img class="popup-image" src="~/img/icon-krestic.png" />
                        Убрать из избранного
                    </button>
                </form>

                <button class="popup-button button-change-music">
                    <img class="popup-image" src="~/img/icon-reduct.png" />
                    Редактировать
                    <span class="aaaaaaaaaaaaaaa music-change-idd" style="visibility:hidden;"></span>
                </button>

                <button class="popup-button button-show-addinplaylist">
                    <img class="popup-image" src="~/img/icon-plus.png" />
                    Добавить в плейлист
                </button>
            </div>
        }

        <div class="block-add-in-playlist">
            <form class="form-addin-playlist" asp-action="AddMusicToPlaylist" asp-controller="Music" method="post" enctype="multipart/form-data">
                <input class="musicId" id="musicId" type="hidden" name="musicId" value="" />
                <div class="block-checkbox-my-playlists">

                </div>
                <button type="submit" class="button button-add-inplaylist">Добавить</button>
            </form>
        </div>

        <div class="popup-change-friendmusic">
                
        </div>
            @* <form asp-action="AddMusicToFav" asp-controller="Music" method="post" enctype="multipart/form-data">
                <input type="hidden" name="musicId" value="" />
                <button type="submit" class="popup-button button-addin-mymusic">
                    <img class="popup-image" src="~/img/icon-plus.png" />
                    Добавить себе
                </button>
            </form> *@
            @* <button class="popup-button button-show-addinplaylist">
                <img class="popup-image" src="~/img/icon-plus.png" />
                Добавить в плейлист
            </button> *@
    </div>
</div>