@using LMusic.Models;
@using LMusic.ViewModels.Friends;
@model FriendsSearchPageViewModel;
@{
    ViewData["Title"] = "Друзья";
}

@* @foreach (var user in Model.Users)
{
    <div>
        @user.Name
        @user.Id
    </div>
} *@

<div class="content-wrapper">
    <div class="block-friend">
        <div class="block-header-friend">
            <h1 class="header-friend">Друзья</h1>
        </div>
        <div class="group-header-friend">
            <div class="user-search-result">
                <a class="header-search-user" href="/friends/search">Глобальный поиск</a>
            </div>
            <div class="user-search-result">
                <a class="header-friends-requests" href="/friends/requests">Просмотреть заявки</a>
            </div>
        </div>
        <div class="friends">
            <ul class="list-friends">
                @foreach(var user in Model.Users)
                {
                    <li class="list-friends-item">
                        <a href="/user/@user.Id">
                            <img class="avatar-friend-image" src="@user.PicPath" />
                            <span class="name-friend">@user.Name</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="block-pagination">
            @if (Model.MaxPage != 1)
            {
                @if (Model.Page > 1)
                {
                    <a class="link-arrow-pagin" href="/friends?page=@(Model.Page - 1)"><img class="icon-arrow-pagination" src="/img/icons8-back-50.png" /></a>
                }

                <span class="page-current-count">@Model.Page</span>

                @if (Model.Page < Model.MaxPage)
                {
                    <a class="link-arrow-pagin" href="/friends?page=@(Model.Page + 1)"><img class="icon-arrow-pagination" src="/img/icons8-стрелка-вправо-50.png" /></a>
                } 
            }
        </div>
    </div>
</div>